*{
    box-sizing: border-box;
}
    
html, body{
    margin: 0;
}


a{
    text-decoration: none;
    color:white;
}    


/*Body*/
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.accueil{
    background-color: #E2F5F7;
}

.presentation{
    background-color: #ABDEE0;
}

.galerie{
    background-color: white;
}

/*Début Header*/
header{
    background-color: #006769;
    width: 100%;
    height: 125px;
    display: flex; 
    position: relative;
    box-shadow: 0px 5px 3px gray;  
}   
    
.titre{
    margin-left: 40px;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    border-radius: 100%;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre:hover{
    box-shadow: 2px 5px 4px rgb(63, 63, 63);
    background-color: #E2F5F7;
}

h1{
    color: #32AFB2;
}

.boutons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.case{
    background-color: #32AFB2;
    /*border: 2px solid black;*/
    border-radius: 8px;
    width: 150px;
    height: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    box-shadow: 2px 5px 4px rgb(63, 63, 63);
}

.case:hover {
    background-color: white;
    color: #32AFB2;
  }
/*Fin Header*/

/*Début Section*/
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    color: #32AFB2;
    display: flex;
    flex-direction: center;
    justify-content: center;
    margin-top: 40px;
}

/*Début Animation*/
.dispo_animation{
    /*border: 2px solid black;*/
    width: 50%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.anim{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin-top: 20px;
    font-size: 35px;
}
  
.element{
    width:40vw;
    height:40vw;
    background-color:pink;
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
  }

  .animation{
    animation: betty 5s ease-out forwards;
  }
  
  @keyframes betty{
    0%{
      transform: scale(0);
      background-color: yellow;
    }
    
    20%{
      background-color: orange;
      border-radius:0%;
    }
    
    40%{
      background-color: blue;
    }
    
    50%{
    transform: scale(2.5);
    }

    60%{
      background-color: green;
    }
    
    70%{
        
    }

    80%{
      background-color: gray;
      border-radius:0%;
    }
    
    100%{
      transform: scale(1);
    }
  }

button{
    background-color: #32AFB2;
    font-size: 20px;
    font-family: Verdana;
    padding: 10px;
    border-radius: 8px;
    transition-duration: 0.4s;
    color: white;
    cursor: pointer;
    text-align: center;
    border: none;
    box-shadow: 0 5px #999;
    margin-top: 20px;
    font-size: 20px;
}
  
.button:hover {
    background-color: white;
    color: #32AFB2;
  }

.button:active {
    background-color: #006769;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} 
/*Fin Animation*/
/*Fin Accueil*/

/*Début Présentation*/
.dispo_presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
} 

.texte_presentation{
    /*border: 2px solid black;*/
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 15px;
}
/*Fin Présentation*/

/*Début Galerie Photo*/
.dispo_photo{
    /*border: 2px solid black;
    background-color: coral;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    flex-wrap:wrap;  
    width:95%;
    height: 33%;
   
}
.photo{
    display: flex;
    justify-content: center;
    height: 33%;
    box-sizing: border-box;
    border: 3px solid #32AFB2;
    margin: 1px;
}

img{
    width: 100%;
    height: 100%;
    display: inline;
}

.un{
    flex-basis:33%;
}   

.deux{
    flex-basis:33%;
}

.trois{
    flex-basis:33%;
}

.quatre{
    flex-basis:75%;
}

.cinq{
    flex-basis:33%;
}

.six{
    flex-basis:33%;
}

.sept{
    flex-basis: 33%;
}
/*Fin Galerie Photo*/
/*Fin Section*/

/*Début Footer*/
footer{
    background-color: #4C8F8F;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 85px;
    color: white;
    position: absolute; 
    z-index: -1;
}

/*.Acc{
    background-color: deeppink;
    position: absolute;
    bottom: 0;
}

.Gal{
    background-color: orange;
}

.Pres{
    background-color: rebeccapurple;
    position: absolute;
    bottom: 0;
}*/
/*Fin Footer*/


/* Color Theme Swatches in Hex */
.Projet-Final-animation-web_2-1-hex { color: #E2F5F7; }
.Projet-Final-animation-web_2-2-hex { color: #ABDEE0; }
.Projet-Final-animation-web_2-3-hex { color: #32AFB2; }
.Projet-Final-animation-web_2-4-hex { color: #4C8F8F; }
.Projet-Final-animation-web_2-5-hex { color: #006769; }

/* Color Theme Swatches in RGBA */
.Projet-Final-animation-web_2-1-rgba { color: rgba(226, 245, 247, 1); }
.Projet-Final-animation-web_2-2-rgba { color: rgba(171, 222, 224, 1); }
.Projet-Final-animation-web_2-3-rgba { color: rgba(50, 175, 178, 1); }
.Projet-Final-animation-web_2-4-rgba { color: rgba(76, 143, 143, 1); }
.Projet-Final-animation-web_2-5-rgba { color: rgba(0, 103, 105, 1); }

/* Color Theme Swatches in HSLA */
.Projet-Final-animation-web_2-1-hsla { color: hsla(185, 56, 92, 1); }
.Projet-Final-animation-web_2-2-hsla { color: hsla(182, 46, 77, 1); }
.Projet-Final-animation-web_2-3-hsla { color: hsla(181, 56, 44, 1); }
.Projet-Final-animation-web_2-4-hsla { color: hsla(180, 30, 42, 1); }
.Projet-Final-animation-web_2-5-hsla { color: hsla(181, 100, 20, 1); }