*{
    box-sizing: border-box;
    }
    
    html, body{margin:0;}

a{
    text-decoration: none;
}    

/*Body*/
.accueil{
    background-color: rgb(209, 243, 174);
}

.presentation{
    background-color: rgb(240, 231, 208);
}

.galerie{
    background-color: rgb(163, 155, 228);
}

/*header*/
header{
    background-color: #717778;
    width: 100%;
    height: 125px;
    display: flex; 
    position: relative;  
}   
    
.titre{
    margin-left: 10px;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

h1{
    color: #4AB8C2;  
}

.boutons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.case{
    background-color: #4d4bb9;
    border: 2px solid black;
    width: 200px;
    height: 75px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/*Section*/
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    color: white;
    display: flex;
    flex-direction: center;
    justify-content: center;
}

/*animation page d'accueil*/
.dispo_animation{
    border: 2px solid black;
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.anim{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.element{
    width:25vw;
    height:25vw;
    background-color:pink;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: betty 5s ease-out forwards;
  }
  
  @keyframes betty{
    0%{
      transform: scale(0);
      background-color: yellow;
      border-radius:100%;
    }
    
    20%{
      background-color: orange;
      border-radius:50%;
    }
    
    40%{
      background-color: blue;
      border-radius:25%;
    }
    
    60%{
      background-color: green;
      transform: scale(5);
    }
    
    80%{
      background-color: gray;
    }
    
    100%{
      transform: scale(1);
    }
  }

button{
    background-color: aquamarine;
    font-size: 20px;
    font-family: Verdana;
    padding: 10px;
    border-radius: 8px;
    transition-duration: 0.4s;
    color: red;
    cursor: pointer;
    text-align: center;
    border: none;
    box-shadow: 0 5px #999;
}
  
.button:hover {
    background-color: #4CAF50;
    color: white;
  }

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} 

/*Présentation de moi et ma passion*/
.dispo_presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
} 

.texte_presentation{
    border: 2px solid black;
    width: 100vh;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Présentation Photo*/
.dispo_photo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    flex-wrap:wrap;  
    width:100%;
    height:100%; 
}
.photo{
    display: flex;
    justify-content: center;
    height: 33%;
    box-sizing: border-box;
    border: 2px solid black;
}

img{
    height: 50%;
    display: inline;
}


/*Test dispo 1*/
.un{
    box-sizing: border-box;
    border: 2px solid black;
    flex-basis:50%;
}   

.deux{
    box-sizing: border-box;
    border: 2px solid black;
    flex-basis:50%;
}

.trois{
    box-sizing: border-box;
    border: 2px solid black;
    flex-basis:33%;
}

.quatre{
    box-sizing: border-box;
    border: 2px solid black;
    flex-basis:34%;
}

.cinq{
    box-sizing: border-box;
    border: 2px solid black;
    flex-basis:33%;
}

.six{
    box-sizing: border-box;
    border: 2px solid black;
    flex-basis:50%;
}

.sept{
    box-sizing: border-box;
    border: 2px solid black;
    flex-basis:50%;
}



/*Footer*/
footer{
    background-color: rgb(80, 218, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
}
